#container {
	background-color: black;
	width: 100%;
}
#header {
	position: fixed;
	color:whitesmoke;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	font-family: Georgia, 'Times New Roman', Times, sans-serif;
	background-image: url("../images/gameofthronesBackground.jpg");
	background-size: 100%;
	z-index: 5;
}
#areaForPictures {
	z-index: 1;
}
.button {
	color: black;
	font-weight: bold;
}
#topLine {
	margin-left: 30px;
	margin-right: 30px;
	position: absolute;
	top: 380px;
}
#topImageL {
	width: 10%;
	float: left;
	margin-left: 20px;
}
#topImageC {
	width: 60%;
	display: block;
	float: left;
   	margin-left: 70px;
   	
}
#topImageR {
	width: 15%;
	float: right;
	margin-right: 20px;
}

p.clear {
	clear: both;
	background-color: black;
	
}
label {
	font-size: 18px;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

#character {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#gameofthronesSearch {
	margin: 0 auto;
	text-align: center;
	font-family: "Carrois Gothic SC", sans-serif;
}

#areaForPictures {
	clear: both;
	display: inline;
	flex-wrap: wrap;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
#newCharacterInput {
	color: black;
}
form label{
	color:yellow;
	font-weight: bold;
}
	